.layout {
  display: flex;
  min-height: 100vh;
  background: var(--clr-bg-base);
}

.main {
  flex: 1;
  min-width: 0;
  height: 100vh;
  overflow-y: auto;
  position: relative;
}

@media (max-width: 1024px) {
  .layout {
    flex-direction: column;
  }
  
  .main {
    height: auto;
    overflow-y: visible;
  }
}
